<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wallet Interface</title>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 20px;
    }

    .button-group.a {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .button.name, .button.import {
        background-color: transparent; /* Đặt màu nền trong suốt */
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Căn nội dung sang bên trái */
    }
    .name-text {
        font-size: 23px; /* Đặt kích thước chữ */
        font-weight: bold; /* Đặt chữ in đậm */
        color: black; /* Đặt màu chữ là đen */
        margin-right: auto; /* Đặt margin-right thành auto để chữ nằm sát bên trái */
    }
    .currency-symbol.name {
        width: 15px; /* Đặt chiều rộng ảnh */
        height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
    }

    .currency-symbol.import {
        width: 30px; /* Đặt chiều rộng ảnh */
        height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
    }

    .wallet-container {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .balance {
        text-align: center;
        margin-bottom: 20px;
    }
    .balance-amount {
        font-size: 32px;
        font-weight: bold;
    }
    .button-group.b {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .button.address, .button.address-copy {
        background-color: transparent; /* Đặt màu nền trong suốt */
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Căn nội dung sang bên trái */
    }
  
    .address-text {
        font-size: auto; /* Đặt kích thước chữ */
        font-weight: normal; /* Đặt chữ in đậm */
        color: black; /* Đặt màu chữ là đen */
        margin-right: auto; /* Đặt margin-right thành auto để chữ nằm sát bên trái */
    }
    .currency-symbol.address-copy {
        width: 20px; /* Đặt chiều rộng ảnh */
        height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
    }

    .button-group.c {
        background-color: transparent; /* Đặt màu nền trong suốt */
        display: flex;
        justify-content: space-around;
        margin-bottom: 0px;
    }
    .button.address, .button.address-copy {
            background-color: transparent; /* Đặt màu nền trong suốt */
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start; /* Căn nội dung sang bên trái */
        }
        
  .button.back {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
    
    .button-group {
        display: flex;
        align-items: center;
    }
  .button.name span {
    margin-right: 1px; /* Khoảng cách giữa chữ và ảnh */
}
  .currency {
  display: block; /* Hoặc flex nếu bạn muốn giữ các items cạnh nhau */
  margin: 0; /* Loại bỏ margin mặc định */
  padding: 0; /* Loại bỏ padding mặc định */
  list-style-type: none; /* Loại bỏ bullet points */
}



.currency-button {
  display: flex;
  justify-content: start; /* Đặt nội dung sang trái */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  width: 100%;
  border: none;
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}


.currency-symbol {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Tạo khoảng cách giữa logo và chữ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
  }


.currency-name {
  margin-right: auto; /* Đẩy tất cả nội dung còn lại sang phải */
  font-size: 1.6em; /* Tăng kích thước font */
  font-weight: bold; /* Làm đậm chữ */
}
.currency-name1 {
  margin-right: auto; /* Đẩy tất cả nội dung còn lại sang phải */
  font-size: 1.5em; /* Tăng kích thước font */
  font-weight: normal; /* Làm đậm chữ */
}


.currency-value {
  font-size: 1.5em; /* Tăng kích thước font */
  font-weight: bold; /* Làm đậm chữ */
}

  .send { background-color: #007bff; }
  .Receive { background-color: #007bff; }

  .currency-list {
    list-style: none;
    padding: 0;
  }
  .Logout {
    list-style: none;
    padding: 0;
  }
  ul.Setting {
    margin-top: 60px; /* Space above the ul */
    margin-bottom: 30px; /* Space below the ul */
    }
  .Setting {
    list-style: none;
    padding: 0;
  }
  ul.Logout {
    margin-top: 30px; /* Space above the ul */
    margin-bottom: 30px; /* Space below the ul */
    }
  .currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
  }


</style>
</head>
<body>
    <div class="button-group a">
        <button class="button name" onclick="location.href='/wallet/list';">
            <span class="name-text"><%= name_wl %></span>
            <img src="/png/home/changer.png" alt="name Symbol" class="currency-symbol name" />
        </button>
        <button class="button import">
            <img src="/png/home/import.png" alt="import Symbol" class="currency-symbol import" />
        </button>
    </div>
    <div class="wallet-container">
        <div class="balance">
            <div>Total balance</div>
            <div class="balance-amount">$<%= balance %></div>
            <div class="button-group b">
                <button class="button address">
                    <span class="address-text" id="addressText"><%= address %></span>
                </button>
                <button class="button address-copy" onclick="copyAddress()">
                    <img src="/png/copy.png" alt="address-copy Symbol" class="currency-symbol address-copy" id="copyImage" />
                </button>
                <div id="copiedMessage" style="display: none;">Copied</div>                     
            </div>
        </div>
        <div class="button-group c">
            <button class="button send">Send</button>
            <button class="button Receive">Receive</button>
        </div>
    </div>

    <ul class="currency-list">
        <li class="currency">
            <button class="currency-button trx" onclick="handleCurrencyClick('TRX')">
            <img src="/png/trx.png" alt="TRX Symbol" class="currency-symbol trx" />
            <span class="currency-name">TRX</span>
            <span class="currency-value"><%= TRXBalance %></span>
            </button>
        </li>
    
    <li class="currency">
        <button class="currency-button usdt" onclick="handleCurrencyClick('USDT')">
        <img src="/png/usdtlogo.png" alt="USDT Symbol" class="currency-symbol usdt" />
        <span class="currency-name">USDT</span>
        <span class="currency-value"><%= USDTBalance %></span>
        </button>
    </li>

    </ul>

    <ul class="Setting">
    <li class="currency">
        <button class="currency-button Setting" onclick="handleCurrencyClick('Setting')">
            <img src="/png/setting.png" alt="Setting Symbol" class="currency-symbol Setting" />
            <span class="currency-name1">Settings</span>
        <span class="currency-value">></span>
        </button>
    </li>
    
    </ul>
    <ul class="Logout">
        <li class="currency">
        <button class="currency-button Logout" onclick="location.href='/logout';">
            <img src="/png/logout.png" alt="Logout Symbol" class="currency-symbol Logout" />
            <span class="currency-name1">Log Out</span>
            <span class="currency-value">></span>
        </button>
        </li>
    </ul>


    <script>
        // JavaScript code could go here to handle button clicks or update balances.
        var data = "<%= address %>";
        function copyAddress() {
            const addressText = document.getElementById('addressText');
            const textToCopy = addressText.innerText;
            const tempInput = document.createElement('input');
            document.body.appendChild(tempInput);
            tempInput.value = textToCopy;
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);

            const copiedMessage = document.getElementById('copiedMessage');
            copiedMessage.style.display = 'block'; // Hiển thị thông báo "Copied"
            
            setTimeout(function() {
                copiedMessage.style.display = 'none'; // Ẩn thông báo sau 1 giây
            }, 1000); // 1000 milliseconds = 1 giây
        }


    </script>

</body>
</html>
